aiofiles==22.1.0
blinker==1.5
click==8.1.3
colorama==0.4.5
h11==0.13.0
h2==4.1.0
hpack==4.0.0
hypercorn==0.14.3
hyperframe==6.0.1
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
priority==2.0.0
pygame==2.1.2
pygbag==0.3.2
quart==0.18.0
token-utils==0.1.8
toml==0.10.2
Werkzeug==2.2.2
wsproto==1.2.0